<div>
  <app-chat-header></app-chat-header>
  <router-outlet></router-outlet>

  <footer class="footer-distributed">
    <div class="footer-right">
      <a href="https://www.facebook.com/profile.php?id=100002349899000"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/Grieverd_"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/caio-augusto-travagin-25aa549b/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/ffgriever/"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
      <p class="footer-links">
        <a>Caio Augusto Travagin</a>
      </p>

      <p>Venturus &copy; 2017</p>
    </div>

  </footer>
</div>
