<div class="jumbotron">
  <h1>Chat Bootcamp</h1>
  <p>Bem Vindo(a) {{ usuario }}</p>
  <p>{{ logTime | date:"MM/dd/yyyy HH:mm:ss a" }}</p>

  <a [routerLink]="'/chat'">Chat</a>
  <a [routerLink]="'/sobre'">Sobre</a>
  <div *ngIf="usuario != null;then showLogoutButton else showLoginButton"></div>

  <ng-template #showLogoutButton>
      <button class="btn btn-primary" style="float: right;" (click)="logout()">Logout</button>
  </ng-template>
  <ng-template #showLoginButton>
      <button class="btn btn-primary" style="float: right;" (click)="login()">Login</button>
  </ng-template>
</div>
