textarea{
  width: 60%;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 10px;
}

.messageList {
  width: 60%;
  max-height: 550px;
  overflow-y: scroll;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 3px;
}
