<ul class="messageList list-group msg_list_base" #scrollMe>
    <app-chat-item *ngFor="let messageObj of messages" [message]="messageObj">
    </app-chat-item>
</ul>

<div *ngIf="messages.length > 0;then showTypeMessageSection"></div>

<ng-template #showTypeMessageSection>
  <textarea placeholder="Write your message here..." rows="3"
            [(ngModel)]="typedMessage"
            (keydown)="onKeyDown($event)"
            (keyup)="onKeyUp($event)">
  </textarea>

  <p style="padding: 0 378px; margin-top: 10px">
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    Number of characters: {{ typedMessage.length }}
  </p>
</ng-template>
